<?xml version="1.0"?>
<SERVER xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<SERVER_DESCRIPTION>
    <NAME>foo</NAME>
    <MAX_REPLICAS>1</MAX_REPLICAS>
    <MAX_CHANNELS>1</MAX_CHANNELS>
    <MAX_SUPPLIERS>1</MAX_SUPPLIERS>
    <MAX_CONSUMERS>1</MAX_CONSUMERS>
    <ORB_TYPE>TAO</ORB_TYPE>
    <SERVICE_NAMES>
            <SERVICE_NAME>BAR</SERVICE_NAME>
    </SERVICE_NAMES>
</SERVER_DESCRIPTION>
</SERVER>
