ATMIBROKER_SRC_DIR=
ACE_ROOT=
TAO_ROOT=
LOG4CXX_ROOT=
CPPUNIT_LIB_DIR=
EXPAT_LIB_DIR=
configuration.type=debug|release
toolchain.compiler=gcc|msvc
test.output.type=executable
failOnErrorTests=false|true
#only required if toolchain.compiler=msvc
#export.dll=_ATMIBROKER_STOMP_DLL
#EXPAT_ROOT=
#CPPUNIT_ROOT=